.contact {
    min-height: 50vh; 
    padding:  50px 0 20px;
    .star {
        width: 70px;
        animation: starSpin 2s infinite ease-in-out;
        // delay iteration-count direction fill-mode;
    }
    h1 {
        @extend %title-style;
        text-align: center;
    } 
    h2 {
        a {
            color: #cdcdcd;
        }
    }
    h6 {
        color: rgb(94, 91, 91);
    }
}

@keyframes starSpin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


@media (max-width : 576px) {
    .contact {
        .star {
            width: 30px;
        }
    }
}