

.project {
    min-height: 50vh;
    background-color: $bgcolor;
    color: white;
    padding:  20px 0;
    h1 {
        font-family: $curly;
        font-weight: 900;
        font-size: 12vw;
    }
    .projects-list {
        .box:nth-of-type(even) {
            // text-align: right;
            margin-left: auto;
        }
        .box {
            border-top: 3px solid white;
            color: #cdcdcd;
            // text-align: right;
            .name {
                text-transform: uppercase;
                text-decoration: none;
                font-family: $formal;
                font-size : 10vw;
                color: #cdcdcd;
                font-weight: bold;
            }
        }

    }
}



@media(max-width: 767px) {
    .projects-list {
        .box {
            // text-align: right;
            .name {
                
                color: #fff;
            }
            .view{
                a {
                    font-size: 18px;
                    text-decoration: underline;
                    display: block;
                    margin-bottom: 5px;
                    color: white;
                    font-family: $formal;
                    i {
                        margin-left: 3px;
                        font-size: 20px;
                    }
                }
            }
        }
        
    }
}