@import './config';
@import './tools';
@import './footer';
@import './project';
@import './about';
@import './works';
@import './education';
@import './contact';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    @include set-colors($bgcolor);
    font-family: $oxygen; 
    overflow-x: hidden;  
}

ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
    list-style-type: none;
    padding: 0;
}


.boundary {
    background-color: set-text-color($bgcolor);
    min-height: 5px;
}


