.contact h1, .education h1, .experience h1, .about h1, .project h1, .tools h1 {
  font-family: "Qwitcher Grypen", cursive;
  font-weight: 900;
  font-size: 12vw;
}

@media (max-width: 768px) {
  .contact h1, .education h1, .experience h1, .about h1, .project h1, .tools h1 {
    font-size: 18vw;
  }
}
.tools {
  min-height: 70vh;
  padding: 20px 0;
}
.tools h1 {
  text-align: right;
}
.tools .tech img {
  width: 50%;
  margin: 12% 25%;
}
.tools .tech p {
  font-family: "Oxygen", sans-serif;
}

@media (max-width: 767px) {
  .tools {
    min-height: 40vh;
  }
  .tools .tool-icon {
    font-size: 12vw;
    color: #cdcccf;
    margin: 20px;
  }
}
footer {
  color: #cdcdcd;
}
footer a {
  color: #cdcdcd;
}

.project {
  min-height: 50vh;
  padding: 20px 0;
}
.project h1 {
  text-align: right;
}
.project .projects-list .box:nth-of-type(even) {
  text-align: right;
}
.project .projects-list .box {
  border-top: 3px solid #cdcdcd;
  color: #cdcdcd;
}
.project .projects-list .box .name {
  text-transform: uppercase;
  text-decoration: none;
  font-family: "Anton", sans-serif;
  font-size: 10vw;
  -webkit-text-stroke: 2px #cdcdcd;
  text-stroke: 1px #cdcdcd;
  color: transparent;
  transition: 0.3s ease-in;
  cursor: pointer;
}
.project .projects-list .box .name:hover {
  -webkit-text-stroke: 2px #cdcdcd;
  text-stroke: 1px #cdcdcd;
  color: #cdcdcd;
}

@media (max-width: 767px) {
  .project .projects-list .box:nth-of-type(even) {
    text-align: left;
  }
  .project .projects-list .box .name {
    letter-spacing: 3px;
  }
  .project .projects-list .box .view a {
    font-size: 18px;
    text-decoration: underline;
    display: block;
    margin-bottom: 5px;
    color: white;
    font-family: "Anton", sans-serif;
  }
  .project .projects-list .box .view a i {
    margin-left: 3px;
    font-size: 20px;
  }
}
.about {
  min-height: 50vh;
  padding: 20px 0;
}
.about .bosun {
  width: 90%;
  margin: auto 5%;
  max-width: 100%;
  border-radius: 50%;
  border: 4px solid #cdcdcd;
}
@media (max-width: 767px) {
  .about p {
    text-align: center;
  }
  .about .bosun {
    width: 70%;
    margin: auto 15%;
  }
}
.experience {
  min-height: 50vh;
  padding: 20px 0;
}
.experience h1 {
  text-align: right;
}
.experience h5, .experience h6 {
  font-style: italic;
}
.experience .first {
  position: relative;
}
.experience .first::after {
  content: "";
  position: absolute;
  background-color: #cdcdcd;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: -3%;
  left: -12px;
}
.experience .first::before {
  content: "";
  position: absolute;
  background-color: #cdcdcd;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  bottom: -4%;
  left: -12px;
}
.experience .work {
  position: relative;
}
.experience .work::after {
  content: "";
  position: absolute;
  background-color: #cdcdcd;
  width: 2px;
  height: 120%;
  top: -10%;
  left: -20px;
}
.experience .work::before {
  content: "";
  position: absolute;
  background-color: transparent;
  width: 20px;
  height: 20px;
  border-bottom: 3px solid #cdcdcd;
  top: 20%;
  left: -20px;
}

.education {
  min-height: 20vh;
  padding: 20px 0;
}
.education h5, .education h6 {
  font-style: italic;
}
.education .first {
  position: relative;
  border-radius: 0 10px 10px 0;
}
.education .first::after {
  content: "";
  position: absolute;
  background-color: #cdcdcd;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  top: -10%;
  left: -12px;
}
.education .first::before {
  content: "";
  position: absolute;
  background-color: #cdcdcd;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  bottom: -10%;
  left: -12px;
}
.education .work {
  position: relative;
}
.education .work::after {
  content: "";
  position: absolute;
  background-color: #cdcdcd;
  width: 2px;
  height: 120%;
  top: -10%;
  left: -20px;
}
.education .work::before {
  content: "";
  position: absolute;
  background-color: transparent;
  width: 20px;
  height: 20px;
  border-top: 3px solid #cdcdcd;
  top: 40%;
  left: -20px;
}

.contact {
  min-height: 50vh;
  padding: 50px 0 20px;
}
.contact .star {
  width: 70px;
  animation: starSpin 2s infinite ease-in-out;
}
.contact h1 {
  text-align: center;
}
.contact h6 {
  color: rgb(94, 91, 91);
}

@keyframes starSpin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@media (max-width: 576px) {
  .contact .star {
    width: 30px;
  }
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #00000a;
  color: #cdcdcd;
  font-family: "Oxygen", sans-serif;
  overflow-x: hidden;
}

ul,
li,
h1,
h2,
h3,
h4,
h5,
h6 {
  list-style-type: none;
  padding: 0;
}

.boundary {
  background-color: #cdcdcd;
  min-height: 5px;
}/*# sourceMappingURL=style.css.map */